.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messageThreadContainer{
    height: calc(100vh - 4rem - 4rem);
    overflow: auto;
}

.headerTitle {
    color: white;
    font-size: xx-large;
    font-weight: 300;
}

.messageInput {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 576px;
    padding: 30px 15px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: white;
    box-sizing: border-box;
    height: 4rem;

    input {
        flex-grow: 1;
        margin-right: 10px;
        font-size: large;
        outline: none;
        border: none;
    }

    .sendIcon {
        width: 25px;
        margin-left: auto;
        margin-right: 10px;
        cursor: pointer;
    }
}