.chats {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .customHeader {
        flex-shrink: 0;
        .title {
            color: white;
            font-size: xx-large;
            font-weight: 300;
        }
    }

    .search {
        flex-shrink: 0;
        width: 100%;
        height: 3rem;
        border: none;
        background-color: white;
        outline: none;
        border-bottom: 1px solid #a9b388;
        padding-left: 1rem;
        color: #783d19;
        font-size: 18px;
        box-sizing: border-box;

        &::placeholder {
            color: #ad724da9;
        }
    }
    
    .chatList {
        flex-grow: 1;
        overflow: auto;
    }
}