@import "./Signin";

.forgotPassword {
  @extend .signin;

  .container {
    padding: 0;

    .containerTitle {
      background-color: #5f6f52;
      color: white;
      margin: 0;
      width: 100%;
      padding: 1.5rem;
      text-align: center;
    }
  }
}
