// Signup.scss
@import "./Signin";

.signup {
    @extend .signin;

    .separator {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
}