.customButton {
    background-color: #c4661f;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #b3561a;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #c4661f;
    }
}