.chatItem {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    border-bottom: 1px solid #a9b388;

    &:hover {
        cursor: pointer;
    }

    &.unread .chatContent {
        // font-style: italic;
    }

    .chatContent {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .unreadBadge {
        background-color: #C4661F;
        color: white;
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 50%;
    }

    .delete {
        margin: 0;
        padding: 0;
        scale: 0.25;
        margin-left: auto;
    }
}