.chatList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.userItem {
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    gap: 20px;height: 3rem;

}

.chatItem:hover {
    background-color: #fff8eb; /* Light grey background on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

.chatItem p {
    margin: 0; /* Remove default paragraph margin */
    font-weight: normal; /* Default font weight */
}

.chatItem p.bold {
    font-weight: bold; /* Bold font weight for unread messages */
}
