.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-family: "European Teletext" !important;

  h1 {
    font-size: 40px;
    font-weight: bold;
    color: #5f6f52;
  }

  h2 {
    font-size: 1.5em;
    color: #5f6f52;
  }
}
