.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5f6f52;
    gap: 1rem;
    font-family: "European Teletext" !important;
}

.header div {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.2rem;
}