.messageThread {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.messageContainer {
    max-width: 60%;
    margin-bottom: 10px; 

    &.sender {
        align-self: flex-end;
    }

    &.receiver {
        align-self: flex-start;
    }

    .senderName {
        font-size: 0.9rem;
        color: gray;
        margin-bottom: 5px;
    }
}