input {
    background-color: transparent;
    border-bottom: 1px solid #a9b388;
    padding: 5px 10px;
    width: 97%;
    color: #783d19;
    font-size: 18px;

    &::placeholder {
        color: #ad724da9;
    }
}