
.app {
  
  .logo {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px; // Added margin for better spacing
  }

  .description {
    text-align: center;
    font-size: 18px;
    max-width: 480px;
    margin: 3rem 0 3rem 0;
    text-wrap: wrap;
  }

  .link {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

  }
}