
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f7f7ee;
}

#root {
    width: min(480px,100%);
}