@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    height: 100%;
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: #fefae0;
    padding: 3rem 1rem;
    box-shadow: 0.3em 0.3em 2em rgb(155 155 155 / 60%);

    .logo {
      font-size: 40px;
      color: #5f6f52;
      font-weight: bold;
    }
    img {
      border-radius: 50%;
    }
    p {
      text-align: center;
      font-size: 18px;
      max-width: 500px;
    }
    button {
      background-color: #c4661f;
      color: white;
      font-size: 18px;
      border: none;
      padding: 15px 25px;
      border-radius: 8px;
    }
  }
}
.signup {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    height: 100%;
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefae0;
    box-shadow: 0.3em 0.3em 2em rgb(155 155 155 / 60%);
    padding-top: 3em;
    gap: 1em;

    .logo {
      font-size: 40px;
      color: #5f6f52;
      font-weight: bold;
      letter-spacing: 5px;
    }

    .title {
      font-size: 1.5em;
      color: #5f6f52;
      padding-bottom: 1em;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      gap: 1.5rem;

      input {
        width: 300px;
        height: 4vh;
        background-color: #fefae0;
        border: none;
        border-bottom: 1px solid #5f6f52;
        color: #a9b388;
        font-size: 1rem;
        outline: none;
      }

      button {
        background-color: #c4661f;
        color: white;
        font-size: 18px;
        border: none;
        padding: 15px 25px;
        border-radius: 8px;
        margin-top: 40px;
      }
    }
  }
}
.signin {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    height: 100%;
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefae0;
    box-shadow: 0.3em 0.3em 2em rgb(155 155 155 / 60%);
    padding-top: 3em;
    gap: 1em;

    .logo {
      font-size: 40px;
      color: #5f6f52;
      font-weight: bold;
      letter-spacing: 5px;
    }

    .title {
      font-size: 1.5em;
      color: #5f6f52;
      padding-bottom: 1em;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      gap: 1.5rem;

      input {
        width: 300px;
        height: 4vh;
        background-color: #fefae0;
        border: none;
        border-bottom: 1px solid #5f6f52;
        color: #a9b388;
        font-size: 1rem;
        outline: none;
      }

      button {
        background-color: #c4661f;
        color: white;
        font-size: 18px;
        border: none;
        padding: 15px 25px;
        border-radius: 8px;
        margin-top: 40px;
      }
    }
  }
}
.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    height: 100%;
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefae0;
    box-shadow: 0.3em 0.3em 2em rgb(155 155 155 / 60%);

    .sidebar {
      width: 100%;

      .showUsersSection {
        .navbar {
          background-color: #5f6f52;

          .container {
            display: flex;
            align-items: center;
            padding: 15px;
            gap: 1.5rem;
            border-bottom: 1px solid #a9b388;

            img {
              height: 3vh;
            }

            .logo {
              font-size: 30px;
              font-weight: bold;
              color: white;
              letter-spacing: 5px;
            }
          }

          .navItem {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            .navLink {
              padding: 0.75rem 10%;
              text-align: center;
              text-decoration: none;
              color: white;
              cursor: pointer;

              &:hover,
              &:active {
                background-color: #a9b388;
              }
            }
          }
        }

        .search {
          border-bottom: 1px solid #a9b388;

          .searchForm {
            padding: 10px;
            display: flex;
            justify-content: space-between;

            input {
              background-color: transparent;
              border: none;
              outline: none;
              width: 100%;
              color: #783d19;
              font-size: 18px;

              &::placeholder {
                color: #ad724da9;
              }
            }
          }
        }

        .userList {
          display: flex;
          flex-direction: column;

          .userItem {
            border-bottom: 1px solid #d498735d;
            height: 4em;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            color: #783d19;
            cursor: pointer;

            &:hover {
              background-color: #f8f2dd;
            }
          }
        }
      }

      .showChatUserSection {

        .chatPage {

          .navbarChat {
            display: flex;
            align-items: center;
            background-color: #5f6f52;
            height: 4rem;
            gap: 2em;
            color: white;
            font-size: 1.2rem;

            .backButton {
              background-color: transparent;
              border: none;
              
              img {
                width: 25px;
                padding-left: 0.7rem;
                cursor: pointer;
              }
            }

          }
        }
      }

      .chats {
        .users {
          .navLink {
            text-decoration: none;
          }

          .userChat {
            padding: 10px;
            display: flex;
            align-items: center;
            color: #783d19;
            cursor: pointer;
            border-bottom: 1px solid #783d193d;

            &:hover {
              background-color: #f8f2dd;
            }

            .userChatInfo {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;

              .user {
                font-size: 16px;
              }

              p {
                color: #783d19a2;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }

    .chat {
      flex: 2;
      border: 1px solid #5f6f52;

      .chatInfo {
        height: 50px;
        background-color: #5f6f52;
        display: flex;
        align-items: center;
        padding: 10px;
        color: white;
      }

      .messages {
        background-color: white;
        padding: 10px;
        height: calc(100% - 150px);
        overflow: scroll;
        overflow-x: hidden;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;
        }

        .messageContent {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          p {
            background-color: #fff7c1;
            color: #c4661f;
            padding: 10px 20px;
            border-radius: 0px 10px 10px 10px;
            max-width: max-content;
          }
        }
      }

      .input {
        height: 40px;
        padding: 10px;
        background-color: #fbf6d4;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          background-color: #fbf6d4;
          border: none;
          outline: none;
          font-size: 15px;

          &::placeholder {
            color: #783d19a9;
          }
        }

        button {
          border: none;
          background-color: transparent;

          img {
            width: 25px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
