.App {
  height: calc(100vh - 10vw); // **************************//
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  gap: 5vh;

  .logo {
    font-size: 40px;
    color: #5f6f52;
    font-weight: bold;
  }

  img {
    border-radius: 50%;
  }

  p {
    text-align: center;
    font-size: 18px;
    max-width: 500px;
  }

  button {
    background-color: #c4661f;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
  }
}
.signup {
  background-color: #fefae0;
  height: 100vh;
  padding: 10px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 40px;

    .logo {
      font-size: 40px;
      color: #5f6f52;
      font-weight: bold;
      letter-spacing: 5px;
    }

    .title {
      font-size: 30px;
    }

    input {
      width: 300px;
      height: 4vh;
      background-color: #fefae0;
      border: none;
      border-bottom: 1px solid #5f6f52;
      color: #a9b388;
      font-size: 1rem;
      outline: none;
    }

    button {
      background-color: #c4661f;
      color: white;
      font-size: 18px;
      border: none;
      padding: 15px 25px;
      border-radius: 8px;
      margin-top: 40px;
    }
  }
}

.signin {
  background-color: #fefae0;
  height: 100vh;
  padding: 10px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 40px;

    .logo {
      font-size: 40px;
      color: #5f6f52;
      font-weight: bold;
      letter-spacing: 5px;
    }

    .title {
      font-size: 30px;
    }

    input {
      width: 300px;
      height: 4vh;
      background-color: #fefae0;
      border: none;
      border-bottom: 1px solid #5f6f52;
      color: #a9b388;
      font-size: 1rem;
      outline: none;
    }

    button {
      background-color: #c4661f;
      color: white;
      font-size: 18px;
      border: none;
      padding: 15px 25px;
      border-radius: 8px;
      margin-top: 40px;
    }
  }
}

.home {
  background-color: #fefae0;
  height: 100vh;

  .navbar {
    background-color: #5f6f52;

    .container {
      display: flex;
      align-items: center;
      padding: 20px;
      gap: 2rem;

      img {
        height: 3vh;
      }

      .logo {
        font-size: 30px;
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
      }
    }

    .navItems {
      color: white;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        width: 50%;
        text-align: center;
        padding: 15px;
        letter-spacing: 2px;
      }
    }
  }

  .search {
    border-bottom: 1px solid #dbbca8;

    .searchForm {
      padding: 10px;
      display: flex;
      justify-content: space-between;

      input {
        background-color: transparent;
        font-size: 20px;
        border: none;
        color: #783D19;
        outline: none;
        width: 100%;

        &::placeholder {
          color: #dbbca8;
        }
      }
    }
  }

  .chats {

    .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        color: #783D19;
        cursor: pointer;
        border-bottom: 1px solid #dbbca8;

        &:hover {
          background-color: #FFF7C1;
        }
        .userChatInfo {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          .user {
            font-size: 20px;
            font-weight: 500;
          }

          p {
            font-size: 18px;
            color: #A9B388;
            padding-left: 10px;
          }
        }
      }
  }
}
